* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
  font-size: 16px;
}

li{
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

.navbar{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  position: fixed;
  /* background-color: #EC535B; */
}

.logo a img{ 
  width: 5rem;
}

.nav-links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.nav-links li a{
  font-size: 1.2rem;
}

.side-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.side-menu li a{
  font-size: 1rem;
}


/*main section starts*/

#main{
  height: 100vh;
  width: 100%;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftsection h2{
  font-size: 4em;
}

.leftsection p{
  font-size: 3rem;
  font-weight: 700;
}

.leftsection p strong{
  color: #EC535B;
}

.rightsection img{
  width: 50rem;
}